!!! 5
html
  head
    meta(charset='UTF-8')
    title Polynode | cone2 - CodePen
    meta(name='robots', content='noindex')
    link(rel='stylesheet', href='css/style.css', media='screen', type='text/css')
    link(rel='stylesheet', href='css/main.css', media='screen', type='text/css')
  body

    .carousel
      .carousel-top
        .carousel-top--circle-large
        .carousel-top--circle-small

      .carousel-bottom
        .carousel-bottom--top
        .carousel-bottom--bottom
        .carousel-bottom--bottom2
        .carousel-bottom--bottom3

      .carousel--3d
        .carousel--scene
          .carousel--stage
            .model
              - var width = 50, height = 370.5, amount = 36;
              - var em = 1/16;
              - for (var i=1; i<=amount;i++)  
                .dome(class="s#{i}")
                  svg(style='width: #{width*em}em; height: #{height*em}em;')
                    polygon(points='#{width/2},0 #{width},#{height} 0,#{height}')

          mixin banner(text)
            .banner
              .banner--text text
              .banner--circle.banner--circle-left 
              .banner--circle.banner--circle-right

          mixin icon-banner()
            .icon-banner

          .scene
              .shape.cylinder-1.cyl-1
                .face.bm
                - for(var i=0; i<=36;i++)
                  .face.side(class="s#{i}")
                    if (i % 4 == 0)
                      +banner('Brands')

              - for(var i=2; i<=9;i++)
                .shape.cylinder-2(class="cyl-#{i}")
                  - for(var j=0; j<=2;j++)
                    .face.side(class="s#{j}")
                      if (j == 2)
                        +icon-banner()
